<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.BoardMapper">

	<!-- 조회(selectBoard) -->
	<select id="selectBoard" resultType="Board">
		select * from tbl_board
	</select>

	<!-- 등록(insertBoard) -->
	<insert id="insertBoard" parameterType="Board">
		insert into tbl_board (board_no, title, content, writer)
		values(board_seq.nextval, #{title}, #{content}, #{writer})
		<!-- #{} -->
	</insert>

	<!-- 수정(updateBoard) -->
	<update id="updateBoard" parameterType="Board">
		update tbl_board
		<set>
		<if test="title !=null">
			title =#{title},
		</if>
		<if test="content !=null">
			content=#{content},
		</if>
		<if test="writer != null">
			writer = #{writer}
		</if>
		</set>
		where board_no=#{boardNo}
	</update>
	<!-- 삭제(deleteBoard) parameterType="int" -->
	<delete id="deleteBoard" parameterType="int">
		delete from tbl_board
		where board_no=#{boardNo}		
	</delete>
	
	
</mapper>